*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-caption{
    margin-button: 150px;
  }

.carousel-caption h2{
    font-size: 35px;
}

.navbar{
    background-color:#319fa1f3;
}
.navbar-nav a:hover{
    background-color: #f3c38d;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.navbar-brand{
    color:#f4ab57;
}
.carousel-caption{
    color:#f4ab57
}
.carousel-caption h2{
    margin-top:180px;
    color:rgb(237, 169, 68);
    letter-spacing: 4px;
    padding:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    font-weight: bold;
}
.carousel-caption a{
    text-decoration: none;
    display:inline-block;
    color:rgb(237, 169, 68);
    font-size:25px;
    border:2px solid rgb(237, 169, 68);
    padding:25px 50px;
    border-radius:50px;
    margin-top:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
