*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style:none;
    font-family:'Times New Roman', Times, serif;
}

.overall{
    width:100%;
    height:100vh;
    overflow:hidden;
    /*display flex so that every part can be arranged*/
    display: flex;
    justify-content: center;
    /*everything will be center around*/
    align-items: center;
}
.overall img{
    position: absolute;
    top: 0;
    left: 0;
    /*cover to let it show fullscreen*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.overall .wrapper{
    position: relative;
    z-index:1;
}
.wrapper{
    width:100%;
    height:100vh;
    text-align:center;
    display:flex;
}
.sidebar{
    width:20%;
    background-color:#319fa1f3;
}
.sidebar a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size:18px;
    letter-spacing: 4px;
    padding:35px;
    border:none;
    display:list-item;
}

.sidebar a:hover{
    background-color: #f3c38d;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#websitetitle{
    color: #f4ab57;
    font-family: fantasy;
    font-weight:400;
    font-size:30px;
    letter-spacing: 4px;
    padding: 10px;
    background-color: #1314348a;
}
.content{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
}
.content p{
    color: #266465f3;
    letter-spacing: 3px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-top:55px;
    font-weight:600;
}
.backgroundpic{
    position:relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}


/* s */
@media screen and (max-width:992px){
   
    .sidebar{
        width: 25%;
    }
    .content{margin-top: 45px;width: 500px;}
    .content p{font-size: 25px;}
   
}
/* xs */
@media screen and (max-width:768px){
    #websitetitle{
        font-size: 22px;
        height: 80px;
    }
    .sidebar{
        width: 30%;
    }
    .sidebar a{
        font-size: 15px;
        height: 80px;
    }
   .content{margin-top: 30px;width: 440px;}
   .content p{font-size: 20px;padding: 30px;}
}
