*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-caption{
    margin-button: 150px;
  }

.carousel-caption h2{
    font-size: 35px;
}

.navbar{
    background-color:#319fa1f3;
    height: 5vh;
    z-index:1;
}
.navbar-nav a:hover{
    background-color: #f3c38d;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.navbar-brand{
    color:#f4ab57;

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
    }
